/* font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('css/header/header.css');
@import url('css/buttom/buttom.css');
@import url('css/content/content.css');
/* initialization */
* {
    font-family: 'Noto Sans TC', sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    height: 1000vh;
    background-color: rgb(25, 0, 255);
}
h1,p {
    margin: 0;
}
/* nav */

/* nav style 1 */
.nav-1 {
    height: 80px;
    padding: 0 50px;
    background-color: rgb(0,0,0);
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}
.nav-1 h1 {
    padding: 0  10px;
    border: rgb(255, 255, 255) 2px solid;
    font-size: 30px;
    font-weight: 900;
}
.nav-1 a {
    color: rgb(255, 255, 255);
    text-decoration: transparent;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}
.nav-1 .item {
    margin-left: auto;
}
.d-none {
    display: none;
}
.bga-f {
    background-attachment: fixed;
}
