/* font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* initialization */
body {
    margin: 0;
    padding: 0;
    height: 1000vh;
    background-color: wheat;
}
h1,p {
    margin: 0;
}
.header .text a {
text-decoration: none; 
}
/* header */
.header {
    height: 100vh;
    width: 100%;
}
/* header block 1 */
.header-1 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
}
.header-1 .text {
    position: absolute;
    width: 45vw;
    height: 400px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin: auto auto;
    top: auto;
    bottom: 20vh;
    left: 10vw;
    margin-bottom: 5vh;
}
.header-1 .text h1 {
    font-size: 5rem;
    line-height: 5rem;
}
.header-1 .text p {
    margin-top: 5vh;
    font-size: 25px;
}
.header-1 .text a {
    font-size: 1.2rem;
    margin-top: 5vh;
}
.header-1 .text a i {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 5px;
}
.header-1 .filter {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,0) 100%);
    height: 100%;
    width: 100%;
}
.header-1 .background {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1579641214479-f85e6ae5ee34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80);
    background-size: cover;
    background-position: center;
}
.header-1 .background i {
    cursor: default;
    color: rgba(255, 255, 255, 0.25);
    font-size: 150vh;
    margin-left: 40vw;
}
@media screen and (max-width:1023px) and (min-width:600px) {
    .header-1 .text {
        width: 80vw;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        font-weight: bolder;
        margin: auto auto;
        top: auto;
        bottom: 10vh;
    }
    .header-1 .text h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .header-1 .text p {
        margin-top: 10px;
}
}
@media screen and (max-width:600px) {
    .header-1 .text {
        position: absolute;
        width: 80vw;
        height: 50%;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        font-weight: bolder;
        margin: auto auto;
        bottom: 200px;
        top: auto;
        margin-bottom: 10px;
    }
    .header-1 .text h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .header-1 .text p {
        margin-top: 10px;
}
}
/* header block 2 */
.header-2 {
    position: relative;
    overflow: hidden;
}
.header-2 .text {
    box-sizing: border-box;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0 5%;
    align-items: center;
}
.header-2 .background-soild {
    background-color: rgba(255, 255, 255, 1);
}
.header-2 .background-blur {
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(10px);
}
.header-2 .text .board {
}
.header-2 .text h1 {
    font-size: 75px;
    line-height: 80px;
    letter-spacing: 5px;
    font-weight: 800;
}
.header-2 .text p {
    margin: 25px 0;
    font-size: 25px;
    font-weight: 900;
    width: auto;
}
.header-2 .text a {
    font-size: 32px;
    font-weight: 900;

}
.header-2 .background {
    background-image: url(https://images.unsplash.com/photo-1579545010736-c452bfb92166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
}
.header-2 .fullscreen-background {
    background-image: url(https://images.unsplash.com/photo-1579545010736-c452bfb92166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
@media screen and (min-width:1351px) {
    .header-2 .text a {
        margin-top: 50px;
    }
}
@media screen and (max-width:1350px) {
    .header-2 .text {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        height: 60%;
        width: 100%;
    }
    .header-2 .background {
        height: 40% !important;
        width: 100% !important;
    }
    .header-2 .text h1 {
        font-size: 50px;
        line-height: 100%;
    }
    .header-1 .text a {
        margin-top: 0px !important;
    }
}
@media screen and (max-width:530px) {
    .header-2 .text h1 {
        font-size: 35px;
        line-height: 100%;
    }
    .header-2 .text p {
        font-size: 15px;
        line-height: 100%;
    }
}
/* element */
.d-none {
    display: none;
}
.bga-f {
    background-attachment: fixed;
}
.buttom-1 {
    position: relative;
    transition: .5s;
    display: block;
    padding: 10px;
    width: 150px;
    border: rgba(255, 255, 255, 1) 1px solid;
    color: rgba(255, 255, 255, 1);
}
.buttom-1_b {
    transition: .35s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: white solid 0px;
}

.buttom-2 {
    background-color: transparent;
    transition: .35s;
    color: black;
    width: 250px;
    display: block;
    padding-top: 5px;
    padding-bottom: 8px;
}
.buttom-2:hover {
    color: rgba(255, 255, 255, 1);
    background-color: black;
    transition: .35s;
}
.buttom-2 i {
    color: rgba(255, 255, 255, 1);
    font-size: 35px;
    display: inline-flex;
    vertical-align: middle;
    opacity: 0;
    transition: .35s;
}