.header-2 {
    position: relative;
    overflow: hidden;
    min-height: 720px;
}
.header-2 .text {
    box-sizing: border-box;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0 5%;
    align-items: center;
}
.header-2 .background-soild {
    background-color: rgba(255, 255, 255, 1);
}
.header-2 .background-blur {
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(10px);
}
.header-2 .text .board {
}
.header-2 .text h1 {
    font-size: 75px;
    line-height: 80px;
    letter-spacing: 5px;
    font-weight: 800;
}
.header-2 .text p {
    margin: 25px 0;
    font-size: 25px;
    font-weight: 900;
    width: auto;
}
.header-2 .text a {
    font-size: 32px;
    font-weight: 900;

}
.header-2 .background {
    /* background-image: url(header-1.jpg); */
    background-image: url(https://images.unsplash.com/photo-1579545010736-c452bfb92166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
}
.header-2 .fullscreen-background {
    /* background-image: url(header-1.jpg); */
    background-image: url(https://images.unsplash.com/photo-1579545010736-c452bfb92166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
@media screen and (max-width:1350px) {
    .header-2 {
        min-height: 720px;
    }
    .header-2 .board {
        margin: auto;
        top: 0;
        bottom: 0;
    }
    .header-2 .text {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        height: 60%;
        width: 100%;
        min-width: 250px;
    }
    .header-2 .background {
        height: 40% !important;
        width: 100% !important;
    }
    .header-2 .text h1 {
        font-size: 50px;
        line-height: 100%;
    }
    .header-2 .text a {
        margin-top: 0px !important;
    }
}
@media screen and (max-width:530px) {
    .header-2 .board {
        word-wrap: break-all;
    }
    .header-2 .text h1 {
        font-size: 35px;
        line-height: 100%;
    }
    .header-2 .text p {
        font-size: 15px;
        line-height: 100%;
    }
}
